<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Footer -->
	<footer th:fragement="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="copy">
						<h6>
							Bigdata <span class="color">Analytics</span>
						</h6>
						<p>
							Copyright &copy; 2014 <a href="http://www.sanskritii.com" class="">Sanskriti India</a> - <a th:href="@{/home}">Home</a>
						</p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
</html>