<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="stylesTemplate">
<title>Index</title>
</head>
<head th:include="jsTemplate"></head>

<body>
	<!-- Header file -->
	<div th:replace="headerTemplate"></div>
	<!-- Main Content Starts -->
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Image blocks starts -->

					<ul class="hover-block">

						<li><a th:href="@{/category/suggestions}"> <!-- Image --> <img
								class="img-responsive" th:attr="src=@{/img/categories_suggest.png}" alt="" />
								<!-- Content with background color Class -->
								<div class="hover-content b-orange" style="top: 155px;">
									<h6>Category Recommendations</h6>
									Click here to see the recommendations for a particular category 
								</div>
						</a></li>
					</ul>

					<div class="clearfix"></div>

					<!-- Image blocks ends -->
				</div>
			</div>
		</div>
	</div>

	<!-- Footer file -->
	<div th:replace="footerTemplate :: footer"></div>
</body>

</html>