<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Backup Mongo Collection - Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="backupCollection/" method="get">
	<label title="Enter collection name to backup">Enter collection name to backup</label> &nbsp;&nbsp;&nbsp; <input type="text" id="collection" name="collection" th:border="1px"></input><br />
	<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit"></input>
	</form>
</body>
</html>